@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="login-container">
    <div class="login-box">
        <h1>@ViewData["Title"]</h1>
        <p>Please check your email to reset your password.</p>

        <div class="text-center mt-3">
            <a asp-page="./Login" class="btn login-btn">Back to Login</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/Account.css" />

