@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="login-container">
    <div class="login-box">
        <h1>@ViewData["Title"]</h1>
        <p>Your password has been reset. Please <a asp-page="./Login" class="btn btn-link">click here to log in</a>.</p>

        <div class="text-center mt-3">
            <a asp-page="./Login" class="btn login-btn">Back to Login</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/Account.css" />
